@import 'tokens';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $gray-900;
  color: $gray-100;
}

body, input, textarea, button {
  font-family: $roboto;
  font-weight: 400;
  font-size: 1rem;
}