@import '../../styles/tokens';

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: $gray-900;

  &__content {
    position: relative;
    width: 100%;

    @media only screen and (min-width: 900px) {
      max-width: 500px;
    }
  }

  &__label {
    font-size: 1rem;
  }

  &__input {
    border: 0;
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    background-color: $gray-100;
    color: $gray-700;
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    height: 35px;
    margin: auto;
    border: 0;
    background-color: $gray-100;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    svg {
      color: $gray-700;
    }
  }

  
}