@import '../../styles/tokens';

.filter {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;
  position: relative;

  &__label {
    font-size: 1rem;
  }

  &__input {
    border: 0;
    border-radius: 6px;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    background-color: $gray-100;
    color: $gray-700;
  }

  svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 1.5rem;
    color: $gray-700;
  }
}